torch 
torchvision 
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu118
matplotlib
tensorboardX

ffmpeg-python
opencv-python
face_alignment
scikit-learn
pydub
pynormalize
soundfile
librosa==0.8.1
pysptk
pyworld
resemblyzer