torch 
torchvision 
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu117

ffmpeg-python
opencv-python
face_alignment
scikit-learn
pydub
pynormalize
soundfile
librosa
pysptk
pyworld
resemblyzer